<div class="all">
<img width="500px" height="" src="assets\000.png">
<span class="brand">Luro Bridal</span>    
<img width="500px" height="" src="assets\000.png">
</div>
<div >
<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" routerLink="/home"><p>Home</p></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/contact"><p>Contact us</p></a>
        <a class="nav-item nav-link" routerLink="/about"><p>About</p></a>
        <a class="nav-item nav-link" routerLink="/collection"><p>Collection 2021</p></a>
      </div>
    </div>
  </nav>
</div>
<a href='https://ru.pngtree.com/so/золотой'></a>